@use "./_variables.scss" as variables;

// Centering mixin
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Text truncation mixin
@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Responsive font size mixin
@mixin responsive-font($min, $max) {
	font-size: clamp($min, 2vw, $max);
}

@mixin card {
    border-radius: 1.2rem;
    box-shadow: 0 6px 24px rgba(0,0,0,.08);
    padding: variables.$spacing-md;
    background: red;
}